<div data-ng-controller="gaMainController">

    <div class="row">
        <div class="col-md-12">

            <div class="message alert alert-success" data-ng-repeat="m in messages" data-ng-show="messages.length > 0">
                <p>{{ m.message }}</p>
                <a class="glyphicon glyphicon-remove icon-remove" data-ng-click="closeMessage()"></a>
            </div>

            <div class="message alert alert-danger" data-ng-repeat="e in errors" data-ng-show="errors.length > 0">
                <p>{{ e.message }}</p>
                <a class="glyphicon glyphicon-remove icon-remove" data-ng-click="closeError()"></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Welkom bij Gelre Airport</h3>
            <span data-ng-show="gaCounters.selectedCounter !== null">Balie: {{ gaCounters.selectedCounter }}</span>
            <hr />
        </div>
    </div>

    <ga-select-counter data-step="step"></ga-select-counter>
    <ga-search_and-checkin data-step="step"></ga-search_and-checkin>

</div>
