.clearfix {
    clear: both;
}

.message {
    position: relative;
}

.hover {
    background-color: lightgrey !important;
    cursor: pointer;
}

.cancel-btn {
    margin-right: 5px;
}

.icon-remove {
    position: absolute;
    float: right;
    margin-top: 6px;
    right: 20px;
    color: white;
}

.icon-remove:hover {
    text-decoration: none;
    color: black;
}
